@import '@/shared/styles/variables';
@import '@/shared/styles/mixins';

.contacts {
  &__desc {
    display: flex;
    gap: 80px;

    &__text {
      display: flex;
      flex-direction: column;
      row-gap: 48px;
      font-size: 30px;

      span {
        color: $main-orange;
      }
    }

    &__img {
      width: 550px;
      height: 550px;
      mix-blend-mode: lighten;
      color: transparent;
    }
  }
}