$main-black: #000;
$main-dark-gray: #131313;
$main-gray: #1c2018;
$main-medium-gray: #6b6b6b;
$main-light-gray: #949393;
$main-orange: #f23919;
$main-dark-orange: #d4340c;
$main-light-orange: rgba(242, 84, 45, .753);
$main-white: #ffffff;