@import '@/shared/styles/variables';

.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: $main-light-gray;

    &__item {
      cursor: pointer;

      &:hover {
        color: var(--color);
      }

      &:last-child {
        color: $main-orange;

        &:hover {
          color: $main-dark-orange;
        }
      }
    }
  }
}