@import '@/shared/styles/variables';

.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 25px;
  width: 100%;
  margin: 0 auto 40px;

  &__item {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding: 12px 24px;
    border: 1px solid $main-light-gray;
    color: $main-light-gray;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: var(--color);
      border-color: $main-orange;
    }

    &_active {
      color: var(--color);
      background-color: $main-orange;
      border-color: $main-orange;
    }
  }
}

.divider {
  height: 1px;
  width: 100%;
  background-color: $main-dark-gray;
  margin: clamp(80px, 4.1666666667vw + 20px, 100px) auto 50px;
}
