@import '@/shared/styles/variables';
@import '@/shared/styles/mixins';

.work {
  &__desc {
    display: flex;
    align-items: flex-start;
    column-gap: clamp(80px, 4.1666666667vw + 20px, 100px);

    &__text {
      display: flex;
      flex-direction: column;
      row-gap: 48px;
      font-size: 30px;

      span {
        color: $main-orange;
      }
    }

    &__img {
      max-width: clamp(472px, 58.5416666667vw - 371px, 753px);
      height: auto;
      flex-shrink: 0;
    }
  }
}

.section {
  margin-top: 140px;
}
